Flask
openai
python-dotenv
textblob
opencv-python
python-barcode
Pillow
qrcode
pytesseract
Pillow
googlesearch-python
pyzbar
fpdf
scikit-learn
playsound
serpapi
Flask==3.0.3
scikit-learn==1.5.1
numpy==1.26.4
pandas==2.2.2
vosk==0.3.45
sounddevice==0.4.6
pyttsx3==2.90

